body{ margin:0px; padding:0px;}

#main{ width:100%; height:auto; background-color:202020;}
#bgimg{ width:100%; height:600px; background-image: url(b1.png);}

#login{float: right;}
#login-text{ width: 130px; height: 30px;  float: right; padding-top: 15px;}


#trans{ width:100%; height:100px; position:absolute; background-color: #000000; margin-top:50px;
        opacity:0.6; filter:alpha(opacity=40); border-bottom: 2px solid  #333333; box-shadow: 0px 10px 10px #202020;}
#statement{ width:400px; height:200px; opacity:0.7; background-color: #000000; position:absolute; margin-top:350px;
             margin-left:600px; border-radius:15px;}
#logo{ width:235px; height:120px; position:absolute; background-image: url(eventlogo1.jpg);  margin-left:50px; margin-top:50px; border-radius:10px}

#topmenu{ position:absolute; margin-top:70px; opacity:0.9; right: 10%;}
#topmenu a{text-decoration:none; color: #FFFFFF;  padding:5px 30px; line-height:80px;}
#topmenu a:hover{ background-color: #0099FF;}



#second{width:100%; height:50px; background-color:#000000;}
#BOOKEVENT{float: right;  }
#BOOKEVENT:hover{ background-color:#000000; opacity: 0.7 }
#GETTICKET { width:200px; height:100px; position: absolute; margin-left:1100px; background-image: url(btn1.jpg); border-radius: 15px;}
#GETTICKET:hover{ background-color:#000000; opacity: 0.7 }

#notice{ width:100%; height: 80px; background-color:black; }

#upcoming{ width: 100%; height: 600px; background-color:#000000;}
#mid{ width:1200px; height: 550px; background-color:#000000; margin:auto;}
#mid-top{ width: 1200px; height:80px; background-color: #000000 ; padding-top: 10px;}
#mid-buttom{ width: 1000px; height: 450px; background-color:#000000 ; margin: auto;padding-top: 10px;}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 230px;
    height: 400px;
    padding-top: 20px;
    padding-left: 5px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 230px;
    height: 300px;
}

.desc {
    padding: 15px;
    text-align: center;
}


#footer{width:100%; height:350PX; background-color:#000000; }
#text {width: 700px; height:100px; position: absolute; margin-left:470px; margin-top: 50px; background-color:#000000;}

#social-media-icon { width:800px; height: 150px; position: absolute; margin-top: 200px; background-color:#000000; margin-left:400px;} 
#social-media-icon ul li {display:inline;   }
#social-media-icon ul { padding-left: 15px;  }
#social-media-icon ul li a{ padding-left: 30px;}
#social-media-icon a:hover{ background-color:#000000; opacity: 0.7}
